.header{
    position: sticky;
    top: 0;
    padding: 0.8rem 2rem;
    background: var(--color-primary);
  }

  .title{
    color: var(--color-bg);
    text-decoration: none;
    margin-top: 0.7rem;
  }

  .login,.register, .logout,.new-post{
    float: right;
    text-decoration: none;
    color: var(--color-bg);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
  }

  .login:hover, .register:hover, .logout:hover, .new-post:hover{
    background-color: var(--color-bg);
    color: var(--color-bold);
  }



  .search-bar {
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-self: center;
    align-items: center;
    padding: 2px;
    border: none;
    border-radius: 5px;
    background: var(--color-bg);
    padding-right: 1rem;
  }

  input[type='search'] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: none;
    border-radius: inherit;
  }
  .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
